.chat-layout {
  height: 100%;
  position: absolute;
  width: 100%;
}
.chat-layout main {
  display: flex;
  flex-direction: row;
}
.chat-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.chat-messages {
  overflow-y: scroll;
  position: relative;
  height: 100%;
  padding-left: 20px;
}
.add-button  {
  float: right;
  padding-top: 5px;
}
.invite-button  {
  float: right;
  padding-top: 15px;
}
.chat-message-animate .ant-comment-content-detail {
  animation: blinkingText 1s;
}
@keyframes blinkingText {
  0%  { color: initial; }
  49% { color: transparent; }
  50% { color: initial; }
  99% { color: transparent; }
  100%{ color: initial; }
}
